x64
.vs/SLDDSDKSJLDS/v17/Browse.VC.db
.vs/SLDDSDKSJLDS/FileContentIndex/2dfe9732-da8b-445c-96b9-e246386e8224.vsidx
.vs/SLDDSDKSJLDS/FileContentIndex/35853e9e-c863-4819-8ecb-08aa9aa8ae1e.vsidx
.vs/SLDDSDKSJLDS/v17/Browse.VC.db-shm
.vs/SLDDSDKSJLDS/v17/Browse.VC.db-wal
.vs/SLDDSDKSJLDS/v17/Browse.VC.opendb
SLDDSDKSJLDS/SLDDSDKSJLDS.vcxproj.filters
.vs/SLDDSDKSJLDS/v17/.suo
.vs/SLDDSDKSJLDS/FileContentIndex/e212876e-b6cc-4747-b3a2-ec64e18913d0.vsidx
.vs/SLDDSDKSJLDS/FileContentIndex/1e0acae2-efea-4ae9-937a-7cf2e832f7ac.vsidx
.vs/SLDDSDKSJLDS/FileContentIndex/c15e92ae-3bd3-467b-a67e-81e920a067da.vsidx
.vs/SLDDSDKSJLDS/v17/ipch/AutoPCH/14b6d54755f770ad/MAIN.ipch
SLDDSDKSJLDS/x64/Debug/main.obj
SLDDSDKSJLDS/x64/Debug/practice.exe.recipe
SLDDSDKSJLDS/x64/Debug/practice.ilk
SLDDSDKSJLDS/x64/Debug/practice.tlog/CL.command.1.tlog
SLDDSDKSJLDS/x64/Debug/practice.tlog/Cl.items.tlog
SLDDSDKSJLDS/x64/Debug/practice.tlog/CL.read.1.tlog
SLDDSDKSJLDS/x64/Debug/practice.tlog/CL.write.1.tlog
SLDDSDKSJLDS/x64/Debug/practice.tlog/link.command.1.tlog
SLDDSDKSJLDS/x64/Debug/practice.tlog/link.read.1.tlog
SLDDSDKSJLDS/x64/Debug/practice.tlog/link.write.1.tlog
SLDDSDKSJLDS/x64/Debug/practice.tlog/practice.lastbuildstate
SLDDSDKSJLDS/x64/Debug/SLDDSDKSJLDS.log
SLDDSDKSJLDS/x64/Debug/vc143.idb
SLDDSDKSJLDS/x64/Debug/vc143.pdb
x64/Debug/practice.exe
x64/Debug/practice.pdb
*.vsidx
*.ipch
*.obj
SLDDSDKSJLDS/x64/Debug/Game.obj
/.vs/Game/v17
/.vs
