
.vs/SLDDSDKSJLDS/v17/Browse.VC.db
.vs/SLDDSDKSJLDS/FileContentIndex/2dfe9732-da8b-445c-96b9-e246386e8224.vsidx
.vs/SLDDSDKSJLDS/FileContentIndex/35853e9e-c863-4819-8ecb-08aa9aa8ae1e.vsidx
.vs/SLDDSDKSJLDS/v17/Browse.VC.db-shm
.vs/SLDDSDKSJLDS/v17/Browse.VC.db-wal
.vs/SLDDSDKSJLDS/v17/Browse.VC.opendb
SLDDSDKSJLDS/SLDDSDKSJLDS.vcxproj.filters
